<br />

<h1>Create a to-do list</h1>
<br />
<%= simple_form_for @list, :url => user_lists_path do |f| %>
	<%= f.input :title %>
	<br />
	<%= f.submit "Create your list", :class => 'btn btn-primary' %>
<% end %>
<br />