<div class="landing-hero">
	<div class="intro col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">
		<h1>keep track of your work</h1>
		<h3>create lists, mark off items as you finish</h3>
	</div>
</div>