<div class="landing-hero">
	<div class="intro col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">
		<h1>keep track of your work</h1>
		<h3>create lists, mark off items as you finish, earn badges</h3>
	</div>
</div>

<div class="headings">
	<h2 class="text-center">the productivity planner you need</h2>
	<div class="calls col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">Do you find yourself overwhelmed with all you should be doing during your days? Physical planners and other methods not working for out for you? <strong>motivto</strong> is here to help!</div>
	<div class="calls col-xs-10 col-xs-offset-1 col-sm-3 text-center"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></div>
</div>