<div class="form-box">
	<div class="col-xs-8 col-sm-4 col-sm-offset-2">
		<h1><%= @user.username %></h1>
		<h4>joined on <%= @user.created_at.strftime('%B %d, %Y') %></h3>
	</div>

	<div class="col-xs-4 col-sm-5 col-sm-offset-1">
		<h4>Image will go here.</h4>
	</div>

	<div class="col-xs-10 col-xs-offset-2">
		<%= link_to 'create a list', new_list_path(current_user) %>
	</div>

	<div class="clearfix"></div>

	<div class="show-lists text-center">
		<h1>My Lists</h1>
	</div>
	<br />
	<% current_user.lists.each do |list| %>
		<h3 class="text-center">
			<%= link_to list.title, list_path(list) %>
		</h3>
	<% end %>
</div>