<br />
<div class="col-xs-4 col-xs-offset-4">
	<h1>what do you want to do?</h1>
	<br />
	<%= simple_form_for @item, :url => list_items_path do |f| %>
		<%= f.input :task %>
		<br />
		<%= f.submit "add task", :class => 'btn btn-primary' %>
	<% end %>
</div>